.outer-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-body {
  width: 400px;
}
.card-title {
  text-align: center;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 1300px;
  margin: auto;
  align-items: center;
}
.item {
  width: 300px;
  margin: 10px;
}